<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jafir.springboot.service.dao.LocationMapper">
    <resultMap id="BaseResultMap" type="com.jafir.springboot.service.model.Location">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="lat" jdbcType="DOUBLE" property="lat"/>
        <result column="lng" jdbcType="DOUBLE" property="lng"/>
        <result column="time" jdbcType="INTEGER" property="time"/>
        <result column="uid" jdbcType="BIGINT" property="uid"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, lat, lng, time, uid
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from location
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM location
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.jafir.springboot.service.model.Location">
        INSERT INTO location (id, lat, lng, time,
                              uid)
        VALUES (#{id,jdbcType=INTEGER}, #{lat,jdbcType=DOUBLE}, #{lng,jdbcType=DOUBLE}, #{time,jdbcType=INTEGER},
                #{uid,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.jafir.springboot.service.model.Location">
        insert into location
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="lat != null">
                lat,
            </if>
            <if test="lng != null">
                lng,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="uid != null">
                uid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="lat != null">
                #{lat,jdbcType=DOUBLE},
            </if>
            <if test="lng != null">
                #{lng,jdbcType=DOUBLE},
            </if>
            <if test="time != null">
                #{time,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.jafir.springboot.service.model.Location">
        update location
        <set>
            <if test="lat != null">
                lat = #{lat,jdbcType=DOUBLE},
            </if>
            <if test="lng != null">
                lng = #{lng,jdbcType=DOUBLE},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                uid = #{uid,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.jafir.springboot.service.model.Location">
        UPDATE location
        SET lat  = #{lat,jdbcType=DOUBLE},
            lng  = #{lng,jdbcType=DOUBLE},
            time = #{time,jdbcType=INTEGER},
            uid  = #{uid,jdbcType=BIGINT}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectByUid" parameterType="java.lang.Long" resultType="com.jafir.springboot.service.model.Location">
        SELECT *
        FROM location
        WHERE uid = #{uid}
        ORDER BY time
            DESC
        LIMIT 1
    </select>

    <select id="selectByUidTime" resultType="com.jafir.springboot.service.model.Location">
        SELECT *
        FROM location
        WHERE uid = #{uid}
        <if test="from!=null and from != ''">
            AND time <![CDATA[ >= ]]> #{from}
        </if>
        <if test="to!=null and to != ''">
            AND time <![CDATA[ <= ]]> #{to}
        </if>
        ORDER BY time
    </select>


    <select id="getAllNowGps" resultType="com.jafir.springboot.service.model.result.NowGpsResult">
        SELECT
            l.uid,
            lat,
            lng,
            avatar,
            name,
            time
        FROM (SELECT DISTINCT *
              FROM location
              ORDER BY uid, time
                  DESC) AS l LEFT JOIN user ON l.uid = user.uid
        GROUP BY l.uid;

    </select>
</mapper>